/* Reset */

/* Variables */

:root {
    --orange-color:  #fd7215;
    --green-color:#06754b;
    --gray-color: #59686f;
    --black: #000000;
    --white: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif !important; 
}

ul {
    list-style: none;
}

/* Header */
.header{
  width:100%;
  background-color: var(--white);
  padding: 1.5em 1em;
  justify-content: space-between;
  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  
  color:white;
}

.header .button{
  display: none;
}
.header .svg{
  width:2em;
  height:2em;
  fill: var(--green-color);
}

.header .ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  
}
.ul {
  margin-right: 50px;
}
.header {
  margin: 0 auto;
}

.li {
  margin: 0 20px;
}

.a {
  text-decoration: none;
  color: var(--gray-color);
}

.a:hover {
  color: var(--gray-color);
  text-decoration: underline 3px var(--orange-color);
}

.social-menu {
  display: flex;
  flex-flow: row nowrap;
}
.social-menu li {
  margin-right: 20px;
}
.social-menu img {
  width: 40px;
  opacity: .7;
}
.social-menu img:hover {
  opacity: 1;
}

/* Slider */
.container-slider {
  width: 100%;
  max-width: 1500px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-bottom: 70px;
}

.slider {
  height: 500px;
  width: 300%;
  display: flex;
  margin-left: -100%;
}

.slider-section {
  width: 100%;
}

.slider-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  opacity: .6;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.slider-btn:hover {
  opacity: 1;
}

.slider-btn-right {
  right: 10px;
}
.slider-btn-left{
  left: 10px;
}


/* Section 2 Card1*/

#row-2 {
    margin-top: 40px;
}

.botones-section-row2 {
    padding-left: 40px;
    padding-right: 40px;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.card1-section2 {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 200px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.img-container-s2 {
    background-color: var(--orange-color);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding-top: 12px;
    padding-left: 11px;
}

.card1-section2 img {
    width: 37px;
}
.card1-section2 p {
    text-align: center;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
}

/* Section 2 Card2*/

.section2-noticias {
    width: 100%;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.section2-noticias h2 {
    color: var(--orange-color);
    font-weight: 700;
}
.section2-noticias p {
    color: var(--gray-color);
    font-size: 18px;
}

.wrapper{
    width: 100%;
    padding-left: 80px;
  }
  .carousel{
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
  }
  .carousel .card{
    color: #fff;
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
    background-color: var(--white);
    border: none;
    width: 300px;
  }
  .content-card-s2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px 0 0;
    align-items: center;
  }
  .content-card-s2 p {
    font-size: 13px;
    font-weight: 900;
    color: #94999b !important;
    margin-top: 15px;
  }

  .content-card-s2 .button-1 {
    border: none;
    background-color: var(--orange-color);
    border-radius: 20px;
    width: 85px;
    height: 25px;
    color: var(--white);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
  }
  .content-card-s2 .button-2 {
    border: none;
    background-color: var(--green-color);
    border-radius: 20px;
    width: 85px;
    height: 25px;
    color: var(--white);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
  }
  .content-card-s2 .button-3 {
    border: none;
    background-color: var(--orange-color);
    border-radius: 20px;
    width: 70px;
    height: 25px;
    color: var(--white);
    font-size: 12px;
    font-weight: 900;
    text-align: center;
  }
  .info-content p {
    text-align: start;
    margin-left: 30px;
    margin-right: 15px;
    color: var(--gray-color);
  }
  .card img {
    width: 100px;
    height: 300px;
    object-fit: cover;
    border-radius: 25px;
  }

  .owl-dots{
    text-align: center;
    margin-top: 0px;
  }
  .owl-dot{
    height: 15px;
    width: 15px;
    margin: 0 5px 20px 5px;
    outline: none;
    border-radius: 14px;
    border: 2px solid var(--green-color)!important;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: var(--green-color)!important;
  }


  .enlaces-noticias {
    display: flex;
    justify-content: space-between;
    padding: 0 220px 0 250px;
    margin-bottom: 50px;
    align-items: center;
  }
  .economy-button{
    width: 300px;
    height: 40px;
    border: none;
    font-size: 18px;
    color: var(--gray-color);
    background-color: var(--white);
    align-items: center;
    justify-content:space-between;
  }
  .economy-button img {
    width: 18px;
    margin-right: 12px;
    margin-bottom: 7px;
  }

  .label-button {
    width: 350px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 18px;
    color: var(--gray-color);
    background: linear-gradient(to right, #bcd797, #84ba7e);
    align-items: center;
    justify-content:space-between;
  }
  .label-button img {
    width: 18px;
    margin-right: 12px;
    margin-bottom: 5px;
  }

  /* Section 3*/
  .section-3{
    background: linear-gradient(to top, #fff1d8, #fd7215 );
    height: 100%;
  }

  .title-container-s3 {
    text-align: center;
    padding-top: 70px;
  }
  .title-container-s3 h2 {
    color: var(--white);
    font-weight: 700;
  }
  .title-container-s3 p {
    color: var(--white);
    font-size: 20px;
  }

  .icons-container-s3 {
    padding-top: 50px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .icons-list-s3 {
    display: flex;
    justify-content: space-evenly;
  }
  .icons-list-s3 li a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
  }

  .icons-list-s3 li a i {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .card3-s3 {
    width: 1200px;
    height: 600px;
    background-color: var(--white);
    margin: 30px auto 40px auto; 
    border-radius: 30px;
    padding: 50px;
  }
  .card3-s3 h2 {
    text-align: center;
    color: var(--green-color);
    font-size: 27px;
    font-weight: 900;
  }

  .ahorros-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    font-size: 18px;
    font-weight: 500;
    color: var(--gray-color);
  }

  .left-content {
    display: flex;
    align-items: center;
  }
  .left-content img {
    margin-right: 30px;
  }
  .ahorros-left p span {
    color: var(--green-color);
    font-weight: 900;
  }

  .ahorros-right {
    position: relative;
    padding-top: 50px;
  }

  .ahorros-right img {
    width: 400px;
    border-radius: 20px;
  }
  .mini-card {
    position: absolute;
    background-color: var(--white);
    border-radius: 20px;
    width: 115px;
    height: 160px;
    align-items: center;
    text-align: center;
    padding-top: 13px ;
    box-shadow: -9px 10px 31px -12px rgba(0,0,0,0.75);
    top: 105px;
    left: -50px;
  }
  .mini-card img {
    width: 60px;
    margin-bottom: 20px;
  }

  .cards-menu-s3 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
    padding: 30px 180px 70px 180px;
  }
  .cards-menu-s3 div {
    background-image: url(/assets/pexels-daan-stevens-939328.jpg);
    background-size: cover;
    width: 270px;
    height: 200px;
    border-radius: 20px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  .cards-menu-s3 div i {
    color: var(--white);
    font-size: 30px;
  }
  .cards-menu-s3 div p {
    color: var(--white);
    font-size: 20px;
    margin-bottom: 0;
  }

  /* Footer */

  .img-footer {
    text-align: center;
    padding-bottom: 25px;
    margin-bottom: 0;
    border-bottom: solid 1px #d7d7d7;
  }

  .contacto-footer {
    display: flex;
    padding: 35px;
    justify-content: space-around;
    align-items: center;
  }
  .contacto-footer h3 {
    color: var(--orange-color);
    font-size: 15px;
    font-weight: 900;
  }
  .contacto-footer p {
    font-weight: 700;
    color: var(--gray-color);
    font-size: 18px;
  }
.menu-footer{
    display: flex;
}
.menu-footer li a img {
    width: 45px;
}

.menu-footer li {
    margin-right: 38px;
}

.list-end {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.list-end li {
    display: flex;
    cursor: pointer;
}
.list-end li i{
    margin-right: 10px;
    margin-top: 3px;
    color: #94999b;
}
.list-end li p {
    font-weight: 700;
    color: var(--gray-color);
}


